/* Import google font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&family=Roboto:wght@700&display=swap');

.row {
  --bs-gutter-x: 0rem !important;
}
/* Top */
#nav span{
  font-family: 'Roboto', sans-serif;
  font-size: 187.5%
}
#top {
  background-image: url('img/img-central.png');
  background-position: 0%;
}
#top{
  color: white ;
}
#nav {
  background-color: transparent !important;
}

#nav span {
  color: white;
  padding-left: 4%;
}
.navButtons{
  width: 35%;
}

.navButtons button {
  margin-right: 3%;
  border-radius: 20%;
  font-family: 'Inter', sans-serif;
  font-size: 75%;
  background-color: #030303;
}

/* Top*/

/*Content*/
.contenido h1,h3 {
  font-family: 'Playfair Display', serif;
}
.contenido button {
  font-family: 'Inter', sans-serif;
  font-size: 75%
}

.contenido button{
  padding-left: 3%;
  padding-right: 3%;
  background-color: #27333E;
  color: white;
}

.contenido {
  padding-bottom: 7%;
}

/*Content*/

/*Sobre mi*/
.contenedorSobreMi{
background-color: #F8F0F0;
padding-bottom: 2.5%;
}

#sobreMiTexto h2 {
  padding-left: 4%;
  font-size: 143.75%;
  font-family: 'Playfair Display', serif;

}
#sobreMiTexto p {
  padding-left: 4% ;
  font-size: 93.75%;
  font-family: 'Inter', sans-serif;

}

#comoMeDescribiriaTexto h2{
  padding-left: 4%;
  font-size: 143.75%;
  font-family: 'Playfair Display', serif;

}

#comoMeDescribiriaTexto p {
  padding-left: 4% ;
  font-size: 93.75%;
  font-family: 'Inter', sans-serif;

}
/*Sobre mi*/

/* Skills */
#containerSkills{
  background-color: #ecf7fd;
  text-align: center;
}

#containerSkills h4 {
  margin-top: 10px;
}

#ContenedorImagenes {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  flex-wrap: wrap;
}


#contenedorImagenes img {
  height: 100px;
  width: 100px;
  margin: 5px 10px;
}
/* Skills */


