body{
    background-image: url(fondo.jpg);
}

.container {
    background-color: white;
   padding-bottom: 10px;
}

#Nombre {
    text-align: center;
}
li {
font-size:large;
}

.Laboral {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

img {
    width: 32px;
    height: 32px;
    text-align: right;
}

#Informacion p{

    margin-bottom: 0px;
}